# Замените эти значения на конфигурацию из вашего Firebase проекта
VITE_FIREBASE_API_KEY="AIzaSy_YOUR_API_KEY"
VITE_FIREBASE_AUTH_DOMAIN="your-project-id.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="your-project-id"
VITE_FIREBASE_STORAGE_BUCKET="your-project-id.appspot.com"
VITE_FIREBASE_MESSAGING_SENDER_ID="123456789"
VITE_FIREBASE_APP_ID="1:123456789:web:abcdef"

# Если деплоите серверную Netlify функцию, эти переменные указываются в Netlify "Environment Variables", а не здесь (для безопасности).
YANDEX_API_KEY="Ваш_секретный_Яндекс_ключ"
YANDEX_FOLDER_ID="Каталог_в_Yandex_Cloud"
